<!-- app/views/interactions/index.html.erb -->
<div class="container mt-4">
  <div class="card border-dark mb-4" style=" margin: 0 auto; max-width: 80vw;">
    <div class="card-header bg-dark text-light " style="padding: 1rem; ">
      <h1 class="card-title text-center " style="margin-bottom: 0; font-size: 2rem;">Previously Asked Questions by : <%= @user.name.titleize %></h1>
    </div>
    <div class="card-body border-dark" style="background-color: white; padding: 0;">
      <table class="table " style="margin-bottom: 0;">
        <thead>
          <tr class=>
            <th scope="col" style="font-size: 1.4rem;">Questions</th>
            <th scope="col" style="font-size: 1.4rem;">Asked On</th>
            <th scope="col" style="font-size: 1.4rem;">Answers</th>
          </tr>
        </thead>
        <tbody>
          <% @interactions.each do |interaction| %>
            <tr>
              <td style="font-size: 1.2rem;"><%= interaction.question %></td>
              <td style="font-size: 1.2rem;"><%= interaction.created_at.strftime("%b %d, %Y") %></td>
              <td style="font-size: 1.2rem;">
                <%= link_to 'View Details', interaction_path(interaction), class: 'btn btn-warning' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
