  <!-- Footer -->
  <footer class="footer bg-dark text-light ">
    <div class="container py-5">
      <div class="row ms-5">
        <div class="col-md-6 my-5">
          <h5 class="mb-3">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">About Us</a></li>
            <li><a href="#" class="text-light">Contact Us</a></li>
            <li><a href="#" class="text-light">Terms of Service</a></li>
            <li><a href="#" class="text-light">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-6 my-5">
          <h5 class="mb-3">Connect With Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Facebook</a></li>
            <li><a href="#" class="text-light">Twitter</a></li>
            <li><a href="#" class="text-light">Instagram</a></li>
            <li><a href="#" class="text-light">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-dark text-light py-2">
      <div class="container text-center">
        <p class="mb-0">&copy; 2024 Cyber Lock. All rights reserved.</p>
      </div>
    </div>
  </footer>
