<h1>Editing external datum</h1>

<%= render "form", external_datum: @external_datum %>

<br>

<div>
  <%= link_to "Show this external datum", @external_datum %> |
  <%= link_to "Back to external data", external_data_path %>
</div>
