

<!-- Use Bootstrap's form classes for styling -->
<div class="container mt-4">
  <h1 class="mb-4">Edit Login Info</h1>
  <hr>
  <%= render "form", external_datum: @external_datum, class: "form-group" %>
  <hr>
</div>

<!-- Navigation links styled with Bootstrap's navbar and button classes for better appearance -->
<div class="container text-center d-flex justify-content-around">

  <%= link_to "My Emails", user_path(current_user.username), class: "btn btn-dark text-warning" %>
  
  <%= button_to "Delete this Login", @external_datum, method: :delete ,class: "btn btn-danger text-light "%>

</div>
