<div class="container m-5 border rounded">
<h1 class="m-3" >New Login</h1>
<hr>
<%= render "form", external_datum: @external_datum %>

<br>

<hr>

<div class="btn btn-dark m-3 text-warning">
  <%= link_to "Back to my credentials", user_path(current_user.username), class: "nav-link" %>
  </div>
</div>
