<div class="container mt-5">
  <h1>Email <%= email %> has been found in pastes</h1>
  <% breaches.each do |breach| %>
    <div class="card mb-3">
      <div class="card-header"><%= breach["Name"] %></div>
      <div class="card-body">
        <h5 class="card-title"><%= breach["Title"] %></h5>
        <p class="card-text"><%= breach["Description"] %></p>
        <!-- Add more breach information as needed -->
      </div>
    </div>
  <% end %>
</div>
