/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* landing_page.css */
.soft-edge-container {
  overflow: hidden; /* Hide overflow to contain the soft edges */
  border-radius: 1em; /* Adjust the border-radius value as needed */
}

.soft-edge-image {
  width: 100%; /* Ensure the image takes up the full width of the container */
}
/* Body styles */
.landing-page {
  background: #d8d8db;
  font-family: Arial, sans-serif;
}

/* Container styles */
.landing-page .container {
  margin: auto;
  padding: 2em;
  text-align: center;
  
}

/* Logo styles */

/* Heading styles */
.landing-page .heading {
  font-size: 2em;
  margin-bottom: 1.5em;
}

/* Button styles */
.landing-page .btn {
  font-size: 1.2em;
  margin-bottom: 1em;
}
