/* Body styles */
.landing-page {
  background: #d8d8db;
  font-family: Arial, sans-serif;
}

.breachesbg {
  background: #3f3f42;
}

/* Background Image */
.position-relative img {
  width: 100%;
}

/* Overlay with Text and Buttons */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
}

/* Heading styles */
.heading {
  font-size: 3vw;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold; /* Make the font bold */
  font-family: 'Arial Black', sans-serif; /* Specify a font family */
}

/* Description styles */
.overlay h3 {
  font-size: 1.5vw;
  font-family: 'Arial', sans-serif; /* Specify a font family */
}

/* Button styles */
.overlay .btn {
  font-size: 1.2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-weight: bold; /* Make the font bold */
  font-family: 'Arial', sans-serif; /* Specify a font family */
}


/* Positioning styles */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.start-0 {
  left: 0;
}

.text-white {
  color: white;
}

.mb-4 {
  margin-bottom: 1rem;
}
