/* Body styles */
.landing-page {
  background: #d8d8db;
  font-family: Arial, sans-serif;
}

/* Breaches view card color  */
.breachesbg {
  background: #f1f1f5;
}

/* Background Image */
.position-relative img {
  width: 100%;
}

/* Overlay with Text and Buttons */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
}

/* Heading styles */
.heading {
  font-size: 3vw;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold; /* Make the font bold */
  font-family: 'Arial Black', sans-serif; /* Specify a font family */
}

/* Description styles */
.overlay h3 {
  font-size: 1.5vw;
  font-family: 'Arial', sans-serif; /* Specify a font family */
}

/* Button styles */
.overlay .btn {
  font-size: 1.2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-weight: bold; /* Make the font bold */
  font-family: 'Arial', sans-serif; /* Specify a font family */
}


/* Positioning styles */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.start-0 {
  left: 0;
}

.text-white {
  color: white;
}

.mb-4 {
  margin-bottom: 1rem;
}

.form-control {
    height: 2em;        /* Sets a consistent height */
    border-radius: 5px;  /* Adds rounded corners */
    border: .1em solid #ced4da; /* Light gray border, consistent with Bootstrap's style */
    background-color: #ffffff; /* Ensures the background is white */
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075); /* Subtle inner shadow for depth */
    cursor: pointer;    /* Changes cursor to pointer to indicate it's clickable */
}


.form-control2 {
  appearance: menulist; /* Ensures dropdown arrow appears */
  height: 2em;        /* Sets a consistent height */
  border-radius: 5px;  /* Adds rounded corners */
  border: 1px solid #ced4da; /* Light gray border, consistent with Bootstrap's style */
  background-color: #ffffff; /* Ensures the background is white */
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075); /* Subtle inner shadow for depth */
  cursor: pointer;    /* Changes cursor to pointer to indicate it's clickable */
  appearance: menulist; /* Ensures dropdown arrow appears */
}


.w-90 {
  width: 90% !important;
}


.fontpic{
  font-size: 1em !important;
}
