<p style="color: green"><%= notice %></p>

<div class=container >
  <h1 class= mt-5 >Organizations</h1>

  <div id="organizations">
    <% @organizations.each do |organization| %>
    <div>
    <hr>
      <%= render organization %>
      <p>
        <%= link_to "Show this organization", organization %>
      </p>
    </div>
    <% end %>
  </div>

</div>
